/**
 *
 **/


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  /* background-image: url("../images/italian_dish.png"), url("../images/brown-paper.jpg");
  background-repeat: no-repeat, repeat; */
  background-image: url("../images/italian_dish.png");
  background-repeat: no-repeat;
  background-color: #ccc;
  background-size: cover;
  size: 960px;
}

h1, h2, h3 {
  /* font-family: Georgia, Times, "Times New Roman", serif; */
  font-family: 'Courgette', cursive;
  font-weight: 700;
  color: rgba(81, 194, 96, 0.836);
  -webkit-text-stroke: 1px  rgba(81, 194, 96, 0.836);
   color: #fff;
   text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;


}

.header-top {
  font-size: 30px;
  font-family: 'Merienda', cursive;
  text-align: center;
  padding: 20px;
}
.question, .choice1, .choice2, .choice3, .choicex, .explanation {
 
  padding: 20px;
  color: rgba(81, 194, 96, 0.836);
  -webkit-text-stroke: 1px  rgba(81, 194, 96, 0.836);
   color: #fff;
   text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
 
}


.explanation {
  padding: 0px;
}

.displayTime {
  float: right;
  font-weight: 700;
  font-size: 30px;
  padding: 20px;
  color: lightcoral;
  
}

.score {
  float: right;
  font-weight: 700;
  font-size: 30px;
  padding: 20px;
  color: green;
  -webkit-text-stroke: 1px  rgba(81, 194, 96, 0.836);
  color: #fff;
  text-shadow:
      1px 1px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.start {
  width: 150px;
  margin-left: 20px;
  margin-right: 20px
}

.next {
  float: right;
  margin-right: 50px;
}

.btn {
  margin: 5px;
}